
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/Drive.cshtml";
}


    <!-- // Header -->
    <!-- Content  -->
    <main id="page-content">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs__title">Our Services</div>
                        <div class="breadcrumbs__items">
                            <div class="breadcrumbs__wrap">
                                <div class="breadcrumbs__item">
                                    <a href="index.html" class="breadcrumbs__item-link">Home</a> <span>/</span> <a href="services.html" class="breadcrumbs__item-link">Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Breadcrumbs  -->
        <section class="service-info-box">
            <div class="swiper-container-column swiper-container-column-second swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide odd-line">
                        <div class="service-block">
                            <figure class="thumbnail"><span><a href="services-post.html"><img src="~/content/rent/assets/images/service_img_1.jpg" alt=""></a></span></figure>
                            <div class="service-block__content">
                                <h3>24 Hour Airport Services</h3>
                                <p>The best and biggest airport transfer company in the city, Airport Transfers is here to provide you with the best one-stop transportation service with minimal fuss and maximum comfort.</p>
                                <!--<a href="services-post.html" class="btn btn__marker"><i class="icon-arrows"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide even-line">
                        <div class="service-block"
                             >
                            <figure class="thumbnail"><span><a href="services-post.html"><img src="~/content/rent/assets/images/service_img_2.jpg" alt=""></a></span></figure>
                            <div class="service-block__content">
                                <h3>Corporate Meetings &amp; Events</h3>
                                <p>Does your company have employees or clients who frequently rent in the Los Angeles area? Setting up a corporate account allowsus to pre-deliver vehicles to hotels, offices, residences.</p>
                                <!--<a href="services-post.html" class="btn btn__marker"><i class="icon-arrows"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide odd-line">
                        <div class="service-block">
                            <figure class="thumbnail"><span><a href="services-post.html"><img src="~/content/rent/assets/images/service_img_3.jpg" alt=""></a></span></figure>
                            <div class="service-block__content">
                                <h3>Business Travel</h3>
                                <p>We offer professional drivers who can chauffeur you to any destination you choose. Or ask for a type of tour or drive you are in the mood for and let us do the rest. </p>
                                <!--<a href="services-post.html" class="btn btn__marker"><i class="icon-arrows"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide odd-line">
                        <div class="service-block">
                            <figure class="thumbnail"><span><a href="services-post.html"><img src="~/content/rent/assets/images/service_img_4.jpg" alt=""></a></span></figure>
                            <div class="service-block__content">
                                <h3>Private Tours</h3>
                                <p>Huge discounts. Free Delivery and Pickup. Free Car washes. Free upgrades. Free maintenance.  We offer amazing deals on car rental rates. Give us a call we make it easy and affordable.</p>
                                <!--<a href="services-post.html" class="btn btn__marker"><i class="icon-arrows"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide even-line">
                        <div class="service-block">
                            <figure class="thumbnail"><span><a href="services-post.html"><img src="~/content/rent/assets/images/service_img_5.jpg" alt=""></a></span></figure>
                            <div class="service-block__content">
                                <h3>To My Door</h3>
                                <p>Sometimes there just aren’t enough hours in the day. So, why would you want to spend an hour travelling across town to pick up a hire car?</p>
                                <!--<a href="services-post.html" class="btn btn__marker"><i class="icon-arrows"></i></a>-->
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide odd-line">
                        <div class="service-block">
                            <figure class="thumbnail"><span><a href="services-post.html"><img src="~/content/rent/assets/images/service_img_6.jpg" alt=""></a></span></figure>
                            <div class="service-block__content">
                                <h3>Private Tours</h3>
                                <p>If you’ve got a busy trip ahead and you simply want to get straight behind the wheel when you arrive to pick up your rental car, you’re in luck. Online Check-in is designed to get you out on the road as soon as possible, and the best part is…  it’s a free service.</p>
                                <!--<a href="services-post.html" class="btn btn__marker"><i class="icon-arrows"></i></a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-column-main"></div>
        </section>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="phone-box">
                        <h1>Join Us and Save on Drive Away!</h1>
                        <span class="text-link">Move with Comfort with Drive Away, For any help Contact Us</span>
                        <h3 class="phone-box__number">Call Now: <span><i class="icon-telephone"></i> +92-3033-30095500</span></h3>
                    </div>
                </div>
            </div>
        </div>

        

    </main>
    <!-- // Content  -->
    <!-- Footer -->
    